body {
  font-family: Verdana,sans-serif;
  background-color: Black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: White;
}

h2 {
  font-size: 42px;
  color: White;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: Gray;
}

.link {
  font-size: 16px;
  color: Aquamarine;
}
